.letter {
    position: absolute;
    pointer-events: none;
    user-select: none;
    font-size: 20rem;
    font-weight: 700;
    line-height: 1;
    opacity: 0.07;
    right: 0;
    top: -25px;
    z-index: -1;
}