.letter {
  position: absolute;
  pointer-events: none;
  user-select: none;
  font-size: 12rem;
  font-weight: 700;
  line-height: 1;
  opacity: 0.15;
  right: 30px;
  top: 20px;
  text-transform: uppercase;
}